@import '../variables.css';

.footer {
  background-color: var(--footer-background-color);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topSection {
  margin-bottom: 20px;
}

.linksSection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 80%;
  flex-wrap: wrap;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.footerLink {
  text-decoration: none;
  color: var(--footer-link-color);
  padding: 5px 0;
  font-weight: 550;
}

.footerLink:hover {
  text-decoration: none;
}

.socialSection {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.socialIcon {
  text-decoration: none;
  margin: 0 10px;
}

.socialIcon img {
  width: 30px;
  height: auto;
}

.socialIcon:hover {
  opacity: 0.8;
}

.footerCopyright {
  color: var(--footer-copy-color);
}

@media (max-width: 900px) {
  .linksSection {
    flex-direction: column;
  }
}
