@import '../variables.css';

.subscriptionForm {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: row; /* Change to row to align input and button horizontally */
  justify-content: center;
  align-items: center;
}

.emailInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Add margin to the right of the input */
  width: auto; /* Auto width for better alignment */
}

.subscribeButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: var(--button-font-weight);
  background-color: var(--button-secondary-background-color);
  color: var(--button-secondary-text-color);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
}

.subscribeButton:hover {
  background-color: var(--button-secondary-hover-background-color);
  color: var(--button-secondary-hover-text-color);
}
